* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  margin: 0;
}

.ui.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.emoticons.ui.grid.container {
  flex-direction: row;
  margin-top: 40px;
}

p a:hover {
  cursor: pointer;
}
