* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  margin: 0;
}

.ui.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

#emoticons.ui.grid.container {
  flex-direction: row;
}

.emoticon:hover {
  cursor: pointer;
  background-color: lightblue;
}

p a:hover {
  cursor: pointer;
}

.selected {
  background-color: tomato;
}
