extends ../base.pug

block content
  .ui.container
    #emoticons.ui.grid.container
      each emoticon in emoticons
        .emoticon.ui.center.aligned.eight.wide.column #{emoticon.content}
    form.ui.form(action="/delete?_method=DELETE" method="POST")
      button#delete.ui.basic.negative.button.hide Delete
  script(src="/js/select.js")
