extends ../base.pug

block content
  .ui.center.aligned.container
    nav.ui.compact.top.fixed.blue.inverted.huge.menu
        a.item(href="#") tymeart's MojiBox
        .right.menu
          a.item(href="#") Add
          a.item(href="#") Select
    .ui.grid.container
      each emoticon in emoticons
        .ui.center.aligned.eight.wide.column #{emoticon.content}
