extends ../base.pug

block content
  .ui.segment.container
    form.ui.form(action=`/user/${user}/collection/new` method="POST")
      .six.wide.field
        label(for="content") Emoticon
        input(type="text" id="content" name="content")
      .six.wide.field
        label(for="category") Category
        input(type="text" id="category" name="category")
      button.ui.button Add
