doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css")
    link(rel="stylesheet" href="/css/styles-with-semantic.css")
    title MojiBox
  body
    nav.ui.compact.top.fixed.blue.inverted.huge.menu
        a.item tymeart's MojiBox
        .right.menu
          a.item(href=`/user/${user.username}/collection/new`) Add
          a.item#selectModeToggle Select
    block content
