extends base.pug

block content
  nav.ui.top.fixed.blue.three.item.inverted.huge.menu
    .item tymeart's MojiBox
    .item
      a(href="#")
        i.plus.icon
      a(href="#")
        i.minus.icon
  .ui.grid.container
    .ui.center.aligned.eight.wide.column (✿⁠´ ꒳ ` )
    .ui.center.aligned.eight.wide.column (*•̀ᴗ•́*)و ̑̑
    .ui.center.aligned.eight.wide.column (灬ºωº灬)♡
    .ui.center.aligned.eight.wide.column (●˙꒳˙●)
    .ui.center.aligned.eight.wide.column ∑(;°Д°)
