extends base.pug

block content
  .container
    .collection
      div (✿⁠´ ꒳ ` )
      div (*•̀ᴗ•́*)و ̑̑
      div (灬ºωº灬)♡
      div (●˙꒳˙●)
      div ∑(;°Д°)
    form
      input(type="text" name="kaomoji")
      button Add
