* {
  box-sizing: border-box; }

body {
  margin: 0; }

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw; }

.collection {
  background-color: lightgrey;
  border-radius: 20px;
  font-size: 1.1em;
  height: 70%;
  margin-bottom: 15px;
  padding: 10px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto; }

.collection > div {
  flex-grow: 1;
  height: 30px;
  margin: 0 10px;
  text-align: center;
  white-space: nowrap;
  min-width: 20%; }

form {
  display: flex;
  justify-content: space-between;
  width: 85%; }

form input {
  border-radius: 20px;
  border-style: solid;
  font-size: 1.1em;
  height: 50px;
  padding: 10px;
  width: 70%; }

form button {
  background-color: white;
  border-color: lightblue;
  border-radius: 20px;
  border-style: solid;
  font-size: 1.1em;
  height: 50px;
  width: 28%; }
