* {
  box-sizing: border-box; }

body {
  font-size: 18px;
  margin: 0; }

.ui.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 70px; }

#emoticons.ui.grid.container {
  flex-direction: row; }

.emoticon:hover {
  cursor: pointer; }

p a:hover {
  cursor: pointer; }

.selected {
  background-color: tomato; }

.ui.button#delete {
  margin-top: 200px; }

.hide {
  position: absolute;
  left: -9999px;
  top: -9999px; }
