extends ../base.pug

block content
  h1 Edit profile
  form(action=`/user/${user.username}?_method=PATCH` method="POST")
    p Current username: ${user.username}
    input(type="text" name="newUsername")
    button Update
