extends ../base.pug

block content
  .ui.container
    h1.ui.header Edit profile
    div
      form.ui.form(action=`/user/${user.username}?_method=PATCH` method="POST")
        p Current username: #{user.username}
        .field
          label(for="newUsername") Enter a new username:
          input(type="text" id="newUsername" name="newUsername")
        button.ui.primary.button Update
      form(action=`/user/${user.username}?_method=DELETE` method="POST")
        button.ui.negative.basic.button Delete Account
