extends ../base.pug

block content
  .ui.container
    h1.ui.header Create an account
    form.ui.form(action="/" method="POST")
      .field
        label(for="username") Username
        input(type="text" id="username" name="username")
      .field
        label(for="password") Password
        input(type="password" id="password" name="password")
      button.ui.primary.button Create
